@import '../variables.scss';

.registerForm {
  text-align: center;
}

.loginText {
  padding-top: 2em;
}

.loginLink,
.loginLink:active,
.loginLink:hover,
.loginLink:visited {
  color: #000;
  text-decoration: underline;
}

.input {
  text-align: center;
  margin: 1em;
  padding: 0.3em;
  width: 320px;
}

.submit {
  border-left-width: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  margin-top: 2em;
  width: 200px;
}
